<div class="container" width="25%">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class=""><a routerLink="/search"> Search</a></li>   
            <li class="active" ><a routerLink="/addloan"> Add Loan</a></li>   
            <li class=""><a routerLink="/editloan"> Update Loan</a></li>  
            <li class=""><a routerLink="/logout"> Logout</a></li>   
          </ul>
        </div>
      </nav>
      </div>
    <br>
    <br>
        


<div class="container" width="25%">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="container addloan" 
        ngModelGroup="addLoanData"
        #addLoanData="ngModelGroup">

            <div class="container-fluid">
                <div>
                    First Name : 
                    <input type="text" class="form-control" placeholder="first name" 
                    ngModel 
                    name="firstName" 
                    required     
                    #firstname="ngModel" />
                </div>
                <br>
                <div>
                    Last Name : 
                    <input type="text" class="form-control" placeholder="Last name" 
                    ngModel 
                    name="lastName" 
                    #lastname="ngModel" 
                    required />
                </div>
                
                <br>

            
            <div>
                Loan No : 
                <input type="text" class="form-control" placeholder="Loan Number" 
                ngModel 
                name="loanNumber" 
                #loanNumber="ngModel" 
                required/>
            </div>
            
            <br>
            <div>
                Address 1 : 
                <input type="text" class="form-control" placeholder="Address 1" 
                ngModel 
                name="address1" 
                #address1="ngModel" 
                required/>
            </div>
            
            <br>
            <div>
                Address 2 : 
                <input type="text" class="form-control" placeholder="Address 2" 
                ngModel 
                name="address2" 
                #address2="ngModel" 
                required/>
            </div>

            
            <br>
            <div>
               City : 
                <input type="text" class="form-control" placeholder="city" 
                ngModel 
                name="city" 
                #city="ngModel"
                required/>
    
            </div>
            
            <br>
            <button class="btn btn-primary" type="submit"  >Add Loan</button>
            </div>
        </div>
    </form>
</div>